<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>IMC</title>
</head>
<body>
  <div id="container">
    <footer>
      <h1>Calcular IMC ({{user.email}})</h1>
    </footer>

    <main>
      <form action="calcular-imc" method="post">
        <input type="text" name="nome" placeholder="Nome...">
        <input type="number" name="peso" placeholder="Peso (kg)">
        <input type="number" step="0.01" name="altura" placeholder="Altura (m)">
        <input type="submit" value="Calcular IMC">
      </form>

      {{#if imc}}
        <h1>Seu imc é {{imc}}.</h1>
      {{/if}}

      {{#if registros.length }}
        <p>Registros de IMC: {{registros.length}}</p>
        <table>
          <tr>
            <th>nome</th>
            <th>imc</th>
          </tr>
        {{#each registros}}
          <tr>
            <td>{{nome}}</td>
            <td>{{imc}}</td>
          </tr>
        {{/each}}
        </table>
      {{/if}}
    </main>
  </div>
</body>
</html>